<html>

<head>
	<title>Delet Chat</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.0.6/socket.io.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<style>

		#headerTitle {
			font-size: 125%;
		}

		#chat {
			height: 75%;
			position: relative;
		}

		#chat-content {
			position: absolute;
			bottom: 0;
		}

		#msgusername {
			margin: 0;
			padding: 0;
		}

		#popup-full {
			left: 0;
			top: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: grey;
			opacity: 0.3;
		}

		#sidebar-user {
			padding-left: 5%;
		}
	</style>
	<script type="text/javascript" charset="utf-8">
		function renderText(text) {
			//sanitize inputs, no direct html allowed
			text = text.replace(/</g, '&lt;').replace(/>/g, '&gt;');

			//regex to recognize URLs that I stole from stackoverflow
			var urlRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;

			return text.replace(urlRegex, function(url) {

				if ((url.indexOf(".jpg") > 0) || (url.indexOf(".png") > 0) || (url.indexOf(".gif") > 0)) {
					//in the future, maybe make this do something different to render the image
					return '<a href="' + url + '" target="_blank">' + url + '</a>' + '<br/>'
				} else {
					return '<a href="' + url + '" target="_blank">' + url + '</a>' + '<br/>'
				}
			})
		}

		$(document).ready(function() {

			var socket = io.connect("http://delet.us:80", {
			});

			//popup that asks for username
			var username = "";
			while (true) {
				username = prompt("Pick a nickname", "");
				if (!(username) || username.length > 16) {
					alert("Error: Nickname should be under 16 characters.");
					continue;
				}
				break;
			}

			function getInitials(name) {
				sep = name.split(" ");
				if(sep.length == 1) { return sep[0][0] }
				else if(sep[1][0].match(/[a-zA-Z]/i)) { return sep[0][0] + sep[1][0] }
				else { return sep[0][0] }
			}


			socket.on('connect', function() {
				console.log("it work");
				socket.emit('join',
						{
							'room': '{{room}}',
							'name': username
						}
				);
			});

			socket.on('listusers', function(data) {
				$("#sidebar").empty();
				for (count = 0; count < data['users'].length;  count++){
					$("#sidebar").append('<p style="padding-left: 5%">'+data['users'][count]+'</p>');
				}
			});

			socket.on('display', function(data) {
				$('#chat-content').append("" +
						"<div id=" + Date.now() + " style=\"opacity:1.0\">" +
						"<p id='msgusername'>" + data['name'] + "</p>" +
						"<span class=\"mdl-chip mdl-chip--contact\">" +
						"<span class=\"mdl-chip__contact mdl-color--teal mdl-color-text--white\">" + getInitials(data['name']) + "</span>" +
						"<span class=\"mdl-chip__text\">" + renderText(data['msg']) + "</span>" +
						"</span></div>" +
						"")
			});

			$("#headerTitle").html('Room ID: {{room}}'); //set room title

			window.onbeforeunload = function(e) {
				socket.emit('leave', {'room': '{{room}}', 'name': username});
				socket.disconnect();
			};

			//function that submits text when user presses enter
			$('#textBox').keydown(function(e) {
				var msg = $('#textBox').val();
				if (e.which == 13 && msg !== "" && e.shiftKey != 1) {
					console.log("Message sent: " + $('#textBox').val());
					socket.emit('send', {
						'room': '{{room}}',
						'name': username,
						'msg': msg
					});
					$("#textBox").val("");
				}
			});

			setInterval(function() { //function that changes the opacity of messages after a certain amount of time
				console.log("here");
				$('#chat-content').children().each(function() {
					$(this).css("opacity", $(this).css("opacity") - .02);
					if (!($(this).css("opacity") > 0)) {
						$(this).remove();
					}
				});
			}, 100);

		});
	</script>
</head>

<body>

<!-- The drawer is always open in large screens. The header is always shown,
even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<div class="mdl-layout-spacer"></div>
		</div>
	</header>
	<div class="mdl-layout__drawer">
		<span class="mdl-layout-title" id="headerTitle">Title</span>
		<nav class="mdl-navigation" id="sidebar">
		</nav>
	</div>
	<main class="mdl-layout__content">
		<div class="page-content">
			<div id="chat">
				<div id="chat-content">

				</div>
			</div>
			<div id="text" class="mdl-textfield mdl-js-textfield">
				<div class="mdl-textfield mdl-js-textfield">
					<textarea class="mdl-textfield__input" type="text" rows= "1" id="textBox" style='overflow-y:hidden;' onkeyup='this.rows = (this.value.split("\n").length||1);'></textarea>
					<label class="mdl-textfield__label" for="textBox">Type a message...</label>
				</div>
			</div>
		</div>
	</main>
</div>
</body>

</html>
