<html>

<head>
	<title>Delet Chat Homepage</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.0.6/socket.io.min.js"></script>
	<style>

	</style>

	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			var counter = 0;
			$("#newChat").click(function() {
				counter++;
				if (counter == 1) {
					$.post("/a/create", function(url) {
						console.log("Here is a url: "+url)
						$("#chatLink").append("<p><a href=\"/chat/" + url + "\">" + url + "</a></p>");
					});
				}
			});
		});
	</script>

</head>

<body>
	<button id="newChat" type="button">Create new chat room</button>
	<div id="chatLink">

	</div>
</body>
