<html>

<head>
	<title>Flask-SocketIO Test</title>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.0.6/socket.io.min.js"></script>
	<style>
		#chat {
			height: 50%;
			position: relative;
		}

		#chat-content {
			position: absolute;
			bottom: 0;
		}
	</style>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			var socket = io.connect("http://35.161.36.162:80", {
//				transports: ['websocket']
			})
			socket.on('connect', function() {
				console.log("it work");
				socket.emit('join', 'mememan');
			});

			socket.on('receive', function(msg) {
				$('#chat-content').append('<p>' + msg + '</p>');
			});

			$('#button').click(function() {
				var msg = $('#text').val();
				$("#text").val("");
				socket.emit('msg', 'mememan:::' + msg);
			});
			
			window.onbeforeunload = function(e) {
			      	socket.disconnect();
			};
			
			//socket.on('confirm', function(msg) {
			//	alert("U are" + msg);
			//});

		});
	</script>
</head>

<body>
	<div id="chat">
		<div id="chat-content">

		</div>
	</div>
	<input type="text" id="text">
	<button id="button" type="button">Send</button>
</body>

</html>
