<html>
<head>
	<title>Flask-SocketIO Test</title>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			var socket = io.connect("http://127.0.0.1:5000")
			socket.on('connect', function() {
				console.log("it work");
			});

			socket.on('receive', function(msg) {
				alert(msg);
			});
			
			//socket.on('confirm', function(msg) {
			//	alert("U are" + msg);
			//});

			setInterval(function() {
				//socket.emit('msg', 'nice meme!')
				socket.emit('msg', 'mememan:::Test Message');
			}, 1000);

			socket.emit('join', 'mememan');
			
			
			$('#submitbutton').click(function() {
				var msg = document.getElementById('msgForm').value;
				$('#main').append('<p>'+var+'</p>');
				document.getElementById('msgForm').value = "";
		});
	</script>
</head>
<body>
	<div id="main">
		<h1>Delet.chat</h1>
		<div id='msgStream'>
		</div>
		<form id="msgForm">
			Enter your message:
			<input type="text" name="textbox">
		</form>
		<button id="submitButton">Submit</button>
	</div>
	
</body>
</html>
